<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/OurStyle.css"rel="stylesheet"/>
</head>
<body>
    <div>
        <div class="topPanel"></div>
        <div class="mainPanel"></div>
        @RenderBody()
    </div>
</body>
</html>
